
.navbar {
  margin: 0em;
  background-color: rgb(1, 1, 26);
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar-brand {
  font-size: 2rem;
}

.footer {
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 3em !important;
}
.footer-bottom {
text-align: center;

}

h1 {
  position: relative; 
  align-self: center;
  padding: 1em;
}

h2 {
  position: relative; 
  align-self: center;
  padding: 1em;
}

.contact {
  text-align: center;
  margin: 0;
  padding: 0;
}
.contact p {
  margin: 0 5em 0 5em;
}

.about {
  margin-left: 5em;
  padding: 1em;
}
.about p {
  margin: 0 5em 0 5em;
  text-indent: 30pt;
}

.top-container {
  background-color: rgb(1, 1, 26);
  display: flex;
  z-index: 0;
  justify-content: center;
  position: relative;
  object-fit: cover;
}

.top-image {
  width: 100%;
  filter: brightness(30%);

}

.top-text {
  display: flex;
  position: absolute;
  text-align: center;
  margin: 1vw 0 0 0;
  padding: 0;
  color: white;
  font-size: 4vw;
  background-color: rbg(0, 0, 0, .5);
  font-family: Courier;
}

.bottom-text {
  display: flex;
  position: absolute;
  text-align: center;
  margin: 8vw 0 0 0;
  padding: 0;
  color: rgb(147, 195, 218);
  background-color: rbg(0, 0, 0, .5);
  font-family: Courier;
  font-size: 5.5vw;
}

.card-row {
  justify-content: center;
  margin: 0 4vw 0 4vw !important;
}

@media only screen and (max-width: 575px) {
  .card-row {
    margin: 0 2em 0 2em !important;
  }
}

@media only screen and (min-width: 1175px) {
  .card-row {
    margin: 0 15vw 0 15vw !important;
  }
}

.card {
  flex: 0 0 auto !important;
  display: flex !important;
  flex-direction: column !important;
  border: none !important;
  overflow: hidden !important;
  margin-bottom: 3em;
}

.card-img {
border-radius: .7em !important;
aspect-ratio: 1 / 1;
object-fit: cover;
margin: 0em 1em 0em 0 !important;
border: solid;
border-width: 2px;
border-color: black;
}

.card-img:hover {
  filter: brightness(50%);
}

.card-text {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
margin: 0;
}

.card-text p {
margin: 0;
padding: 0;
}

/* .custom-modal-div {
  justify-content: center !important;
  justify-self: center !important;
  justify-items: center !important;
  text: center !important;
  text-align: center !important;
  top: 0px !important;
left: 0px !important;
margin: 0 !important;
} */

.iframe-embedded-video {
  width: 100%;
  height: 60vh;
}

.modal-body {
  text-align: center;
}