
.navbar {
  margin: 0em;
  background-color: rgb(1, 1, 26);
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar-brand {
  font-size: 2rem;
}

.footer {
  justify-content: center;
  display: flex;
  text-align: center;
}
.footer-bottom {
text-align: center;

}

h1 {
  position: relative; 
  align-self: center;
  padding: 1em;
}

.contact {
  text-align: center;
  margin: 0;
  padding: 0;
}

.about {
  margin-left: 5em;
  padding: 1em;
}
.about p {
  margin: 0 5em 0 5em;
  text-indent: 30pt;
}

.top-container {
  background-color: rgb(1, 1, 26);
  display: flex;
  z-index: 0;
  justify-content: center;
  position: relative;
  object-fit: cover;
}

.top-image {
  width: 100%;
  filter: brightness(30%);

}

.top-text {
  display: flex;
  position: absolute;
  text-align: center;
  margin: 40vw 0 0 0;
  padding: 0;
  color: white;
  font-size: 4vw;
  background-color: rbg(0, 0, 0, .5);
  font-family: Courier;
}

.bottom-text {
  display: flex;
  position: absolute;
  text-align: center;
  margin: 43vw 0 0 0;
  padding: 0;
  color: rgb(147, 195, 218);
  background-color: rbg(0, 0, 0, .5);
  font-family: Courier;
  font-size: 5.5vw;
}


.card {
  flex: 0 0 auto !important;
  display: flex !important;
  flex-direction: column !important;
  border: none !important;
  overflow: hidden !important;
}

.card-img {
border-radius: .7em !important;
aspect-ratio: 1 / 1;
object-fit: cover;
margin: 3em 1em 0 0 !important;
border: solid;
border-width: 2px;
}

.card-text {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
margin: 0;
}

.card-text p {
margin: 0;
padding: 0;
}